.suji > label{
  font-weight: lighter;
  font-size: 30px;
  color: #14f2f5;
  transform: scaleX(1);
}

.suji > label > span{
  font-weight: bold;
  font-size: 32px;
  color: #d99252;
  font-family: "Microsoft Yahei";
  text-align: center;
  display: inline-block;
}
