.train-operation-map-chart{
  width: 100%;
  height: 100%;
}

.warn-div{
  margin: 30px;
  position: absolute;
  z-index: 2;
}

.forecast-div{
  left: 330px;
  margin: 30px;
  position: absolute;
  z-index: 2;
}

.suji > label{
  font-weight: lighter;
  font-size: 30px;
  color: white;
}

.suji > label > span{
  font-weight: bold;
  font-size: 32px;
  font-family: "Microsoft Yahei";
  color: #d99252;
  width: 80px;
  text-align: right;
  display: inline-block;
}

