:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.title-div {
  padding-left: 40px;
}

.title-div > span{
  justify-content: center;
  color: #14f2f5;
  font-weight: normal;
  font-family: Microsoft Yahei, Arial, sans-serif;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.equip-type-div{
  justify-content: flex-end

}

.equip-type-div > label{
  color: #14f2f5;
  font-weight: normal;
  font-family: Microsoft Yahei, Arial, sans-serif;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.equip-type-div > span{
  color: #e9f500;
  font-weight: normal;
  font-family: Microsoft Yahei, Arial, sans-serif;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
  display: inline-table;
  text-align: center;
}

app-rolling-table{
  width: 100%;
  height: calc(100% - 40px);
}
