<div class="fault-diagnosis-container" >

  <div [outerFrame]="frames.FRAME5" style="grid-row: 1 / 2; grid-column: 1 / 2;">
    <app-fault-precise-positioning></app-fault-precise-positioning>
  </div>
  <div [outerFrame]="frames.FRAME5" style="grid-row: 1 / 2; grid-column: 2 / 3">
    <app-precise-positioning-summary></app-precise-positioning-summary>
  </div>
  <div [outerFrame]="frames.FRAME6">
    <app-fault-reason-investigation></app-fault-reason-investigation>
  </div>
  <div [outerFrame]="frames.FRAME6">
    <app-reason-investigation-summary></app-reason-investigation-summary>
  </div>
</div>

