.summary-datav-container{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 2fr 2fr;
  grid-gap: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.summary-datav-container > div{
  padding: 10px 1px 1px;
  overflow: hidden;
}

app-simple-rolling-table-fragment {
  padding: 0;
}
