<!--The content below is only a placeholder and can be replaced.-->
<div class="banner">
    {{ title }}
</div>
<div class="main-datav-container" connerKazaro>

  <div [outerFrame]="frames.FRAME1" style="grid-row: 1 / 4;">
    <app-train-operation-map></app-train-operation-map>
  </div>

  <div [outerFrame]="frames.FRAME1" style="grid-row: 1 / 2;"></div>
  <div [outerFrame]="frames.FRAME1" style="grid-row: 1 / 3;"></div>

  <div [outerFrame]="frames.FRAME2" style="grid-row: 4 / 5;"></div>
  <div [outerFrame]="frames.FRAME1" style="grid-row: 2 / 4;"></div>
  <div [outerFrame]="frames.FRAME2" style="grid-row: 3 / 5;"></div>

  <div [outerFrame]="frames.FRAME2" style="grid-row: 4 / 5;"></div>
</div>
