:host{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-div {
  padding-left: 40px;
}

.title-div > span{
  justify-content: center;
  color: #14f2f5;
  font-weight: normal;
  font-family: Microsoft Yahei, Arial, sans-serif;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ng-marquee{
  justify-content: flex-end;
  width: 500px;
}

.runtime-fault-chart{
  flex-basis: 100%;
}
